<!-- Appel au modele de produit -->
@model IEnumerable<MonCatalogueProduit.Service.Demande>

<p></p>

<div class="container">
    <a asp-action="FormProduit">Nouveau Demande</a>

</div>

    <div class="col-md-10 col-md-offset-1 col-xs-12"> <!--responsive designe md = median(ordinateur), xs= (extra small) pour smartphon-->

        <div class="panel panel-primary"> <!--pour couleur bleu-->
            <div class="panel-heading">La liste des demandes</div>
            <div class="panel-body">

                <div class="container">
                    <form method="get" asp-action="Index">
                        <label>Mot clé:</label>
                        <input type="text" name="motCle" value="@ViewBag.motCle" />
                        <button type="submit" class="btn btn-primary">Chercher</button>
                    </form>
                </div>


                <!--class table -- bootsrap -->
                <table class="table table-striped">
                    <tr>
                        <!-- Pour afficher les parametres-->
                        <th>ID</th>
                        <th>Designation</th>
                        <th>Lieu</th>
                        <th>Description</th>
                        <th>Categorie</th>
                    </tr>
                    @{ //Lazor syntax @{ }: affiche dans chaque ligne les données du produit

                        foreach (var p in Model)// rappel modele est de type IEnumerable de demande = liste de demande
                        {
            <tr>
                <td>@p.DemandeID</td>
                <td>@p.Designation</td>
                <td>@p.Lieu</td>
                <td>@p.Description</td>
                <td>@p.Categorie.NomCategorie</td>
            </tr> } }
                </table>
                <!-- Creer une petite barre pour afficher la pagination // nav pills,active bootstrap
                  -->

                <div>
                    <!--ul = petite barre, nav nav-pills pour un affichage sur même ligne  -->
                    <ul class="nav nav-pills">
                        @{ for (int i = 0; i < ViewBag.totalPages; i++)
                            {
                               
                                string className = "";
                                if (i == ViewBag.currentPage)
                                {
                                    className = "active";
                                }

                <li class="@className">
                    <a asp-action="Index" asp-route-page="@i" asp-route-motCle="@ViewBag.motCle">@i</a>
                </li> } }
                    </ul>
                </div>
            </div>
        </div>
   
</div>
